#i01 {background-image: linear-gradient(113.38deg, #2A5470, #4C4177);
     margin-bottom: 0px;
}
    
/* #i02 {
    color: white; padding: 20px; margin-left: 40px; margin-top:0px; margin-right: 40px; background-image: url(https://images.ctfassets.net/hrltx12pl8hq/61DiwECVps74bWazF88Cy9/2cc9411d050b8ca50530cf97b3e51c96/Image_Cover.jpg?fit=fill&w=480&h=270);
   background-image: url(mask.png);
    background-repeat:no-repeat;
    background-position: left;
} */

#i03 {
    font-family: Lora;
    font-style: normal;
    font-weight: normal;
    font-size: 70px;
    line-height: 82px;
    position: relative;
    bottom:50px;
    padding-left: 5%;
}

#i03left {
    margin-left: 20px;
     font-family: Lora;
    font-style: normal;
    font-weight: normal;
    font-size: 70px;
    line-height: 82px;
    transform: scalex(-1);
    text-align: right;
    padding-right: 5%;

}

#i02 {
    color: white;
     display: flex;
    align-items: center;
    padding: 0px;
    margin-left: 0px;
    margin-top:30px;
    margin-right: 0px;
    background-size: auto;
    min-height: 70vh;
    background-image: url("../images/mask.png");
    background-repeat:no-repeat;
    background-position: right;
    transform: scalex(-1);
}

#i02below {
    color: white;
    display: flex;
    align-items: center;
    /* margin: 30px 0px; */
    padding-left: 5%;
    padding-top:30px;
}


#i02left {
    color: white; display: flex; align-items: center;  padding: 0px; margin-left: 0px; margin-top:0px; margin-right: 0px; background-size: auto; min-height: 70vh;
    background-image: url("../images/mask.png");
    background-repeat:no-repeat;
    background-position: right;
}

#i05 {
    font-family: Lato;
    font-style: normal;
    width: 40%;
    font-weight: normal; font-size: 18px;
    line-height: 29px;
    color: #FFFFFF;
    text-align: left;
    position: relative;
    bottom:30px;
    padding-left: 5%;
}
#i04 {
    margin-left: 20px;  font-family: Lato;
    font-style: normal;
    width: 50%;
    font-weight: normal; font-size: 18px;
    line-height: 29px;
    color: #FFFFFF;
    transform: scalex(-1);
    text-align: right;
    padding-right: 5%;
}

#i04below {
     font-family: Lato;
    font-style: normal;
    font-weight: normal; 
    font-size: 18px;
    line-height: 29px;
    color: #FFFFFF;
}

#i06 {
    height: 300px;
    width: 500px;
    
}
.row {
    display: flex;
  }
  
  .column {
    flex: 50%;
  }