::placeholder {
    color: white;
}

.section1 {
    background-image: linear-gradient(#2A5470, #4C4177);
    min-height: 100vh;
    width: 100%;
    padding-top: 300px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.section2 {
    flex-basis: 40%;
    margin: 0px 30px;
}

.section3 {
    flex-basis: 35%;
    text-align: left;
    /* background: #2A5470; */
    margin: 10px 30px;
    box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.7);
}

#contact-head {
    font-weight: 900;
}

.contact_info {
    font-size: 20px;
    padding: 40px 0;
    margin-left: 40px;
    color: #ffffff;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

#contact-tail {
    position: absolute;
    margin-left: 100px;
}

#contact-tail a {
    text-decoration: none;
    color: #ffffff;
}

#contact-tail #mail:hover {
    transition: 0.3s ease;
    color: #1DA1F2;
}

#contact-tail .fab {
    padding: 0 10px;
}

#contact-tail #facebook:hover {
    color: #4267B2;
    transition: 0.3s ease;
    /* background: linear-gradient(45deg, #405DE6, #5251DB, #833AB4, #C13584, #E1306C, #FD1D1D); */
}

#contact-tail #twitter:hover {
    color: #1DA1F2;
    transition: 0.3s ease;
    /* background: linear-gradient(45deg, #405DE6, #5251DB, #833AB4, #C13584, #E1306C, #FD1D1D); */
}

#contact-tail #linkedin:hover {
    color: #0077B5;
    transition: 0.3s ease;
    /* background: linear-gradient(45deg, #405DE6, #5251DB, #833AB4, #C13584, #E1306C, #FD1D1D); */
}

#contact-tail #instagram:hover {
    color: #E1306C;
    transition: 0.3s ease;
    /* background: linear-gradient(45deg, #405DE6, #5251DB, #833AB4, #C13584, #E1306C, #FD1D1D); */
}

#contact-tail #youtube:hover {
    color: #FF0000;
    transition: 0.3s ease;
    /* background: linear-gradient(45deg, #405DE6, #5251DB, #833AB4, #C13584, #E1306C, #FD1D1D); */
}

#contact-tail #discord:hover {
    color: #5865F2;
    transition: 0.3s ease;
    /* background: linear-gradient(45deg, #405DE6, #5251DB, #833AB4, #C13584, #E1306C, #FD1D1D); */
}


/* .section1 button {
    position: relative;
    left: 0%;
    top: 15%;
    font-size: 15px;
    padding: 8px;
    border-radius: 10px;
    background-color: white;
    color: #2A5470;
    cursor: pointer;
} */


/* .section1 button:hover {
    opacity: 0.7;
} */


/* .section2 {
    position: relative;
    left: 10%;
    top: 90px;
    width: 40%;
} */

input {
    width: 97.5%;
    min-height: 40px;
    background: none;
    background-image: linear-gradient(rgb(27, 27, 27), #0000002f);
    color: white;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 900;
}

textarea {
    width: 98.5%;
    min-height: 195px;
    background: none;
    background-image: linear-gradient(rgba(27, 27, 27), #0000002f);
    color: white;
    margin-bottom: 7px;
    font-size: 15px;
    font-weight: 900;
    resize: none;
}


/* .section3 {
    position: absolute;
    background-image: linear-gradient(rgb(0, 0, 0), #0000002f);
    right: 10%;
    width: 20%;
    color: white;
    min-height: 360px;
    top: 580px;
} */

@media (max-width:1000px) {
    .section1 {
        padding-top: 300px;
        flex-direction: column;
    }
    .section2 {
        width: 90%;
        margin: 20px 0px;
    }
    .section3 {
        width: 90%;
        text-align: left;
        /* background: #2A5470; */
        margin: 20px 0px;
        box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.7);
        -webkit-box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.7);
        -moz-box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.7);
    }
    #contact-head {
        font-weight: 500;
    }
    .contact_info {
        font-size: 18px;
        padding: 35px 0;
        margin-left: 30px;
    }
    #contact-tail {
        position: absolute;
        margin-left: 80px;
    }
}