#i1{background-image: linear-gradient(113.38deg, #2A5470, #4C4177);
    margin-bottom: 0px;
    min-height: 100vh;
}
#text3{
    font-family: Lato;
    font-size: 18px;
    color: white;
    margin-top:350px;
}
#left{
    margin-left: 60px;
}
#text4{
    font-family: Lato;
    font-style: normal;
    font-size: 18px;
    color: #FFFFFF;
    text-align: justify;
    margin-top:350px;
}
.row{
    width: 90%;
}
#text5{
    color: #FFFFFF;
    text-align: right;
    margin-top: 20px;
    font-size: 24px;
    margin-left: 0px;
    margin-top: 80px;
    font-weight: bolder;
    text-align: left;
}

#text6{
    color: #FFFFFF;
    margin-left: 215px;
    font-family: Lato;
font-size: 18px;
text-align: justify;
margin-top: -130px;
}
#text7{
    color: #FFFFFF;
    font-family: Lato;
    margin-top: 50px;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 29px;
text-align: justify;
}
/* #linear{
    background: rgb(1,0,27);
background: linear-gradient(90deg, rgba(1,0,27,1) 0%, rgba(42,84,112,0) 50%, rgba(76,65,119,0) 80%);
} */

#text8{
    font-family: Lato;
font-style: normal;
font-size: 18px;
margin-top: 20px;
text-align: justify;
color: #FFFFFF;
}
#t1{
    margin-top: 100px;
    text-align: center;
}
#list{
    margin-left: -15px;
}
a:link {
    color: white;
  }
a:visited {
    color: white;
  }
a:hover {
    color: white;
  }
a:active {
    color: white;
  }
  a{
      text-decoration: none;
  }
#text9{
    color: white;
    text-align: justify;
    margin-top: 0px;
    font-family: Lato;
font-style: normal;
font-size: 18px;
/* background: rgb(1,0,27);
background: linear-gradient(135deg, rgba(1,0,27,1) 0%, rgba(42,84,112,0) 8%, rgba(76,65,119,0) 100%);
background-position-y: 59px;
background-position-x: 10px; */
}
/* #text10{
    margin-top: 30px;
    color: white;
    margin-left: 120px;
    margin-right: 155px;
    font-family: Lato;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 29px;

} */
#text10{
    color: white;
    text-align: justify;
    margin-left: 70px;
    margin-top: 60px;
    font-family: Lato;
    margin-right: 80px;
font-size: 18px;
}
#text11{
    margin-top: 30px;
    color: white;
    margin-left: 70px;
    font-family: Lato;
font-style: normal;
font-size: 18px;

}
.img1{
    margin-top: 60px;
    width: 98%;
    height: 420px;
}
@media screen and (max-width: 800px){
    #t1{
        margin-top: 20px;
    }
    #left{
        margin-left: 0px;
    }
    #text1{
        font-size: 150px;
    }
    #text2{
        font-size: 30px;
    }
    #text3{
        margin-left: 0px;
    }
    #text4{
        margin-top: 20px;
        margin-right: 0px;
    }
    #text5{
        margin-left: 0px;
        margin-top: 20px;
        
    }
    #text6{
        margin-left: 10px;
        margin-top: 0px;
        
    }
    #text7{
        margin-left: 0px;
    }
    #text8{
        margin-left: 0px;
    }
    #text9{
        margin-left: 0px;
        margin-right: 0px;
        margin-top:0px;
    }
    #text10{
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 20px;
    }
    #text11{
        margin-left: 0px;
        margin-top: 0px;
    }
    .img1{
        height: 300px;
        margin-left: 0px;
    }
    #list{
        margin-left: 0px;
    }
.row{
    width:100%;
}

}