* {
    font-family: 'Times New Roman', Times, serif;
}

body {
    margin: 0px;
}

.navigation {
    height: 100px;
    background: #262626;
    width: 100%;
}

.brand {
    padding: 0 30px;
    padding-top: 13px;
    float: left;
}

.brand a,
.brand a:visited {
    color: #fff;
    text-decoration: none;
}

.nav-container {
    margin: 0 20px;
}


/* nav {
    float: right;
} */

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    float: left;
    position: relative;
}

nav ul li a,
nav ul li a:visited {
    display: block;
    padding: 15px 20px;
    margin: 20px 0px;
    line-height: 0px;
    background: #262626;
    color: #fff;
    text-decoration: none;
    top: 15px;
    position: relative;
    font-size: 17px;
    z-index: 10;
}

nav ul li a:hover,
nav ul li a:visited:hover {
    /* background: #2581dc; */
    color: #fff;
    text-decoration: none;
}

nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
    padding-left: 4px;
    content: ' ▾';
}

nav ul li ul li {
    min-width: 190px;
}

nav ul li ul li a {
    padding: 15px;
    line-height: 20px;
}

.nav-dropdown {
    position: absolute;
    display: none;
    z-index: 5;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}


/* Mobile navigation */

.nav-mobile {
    display: none;
    position: absolute;
    top: 10px;
    right: 20px;
    background: #262626;
    height: 70px;
    width: 70px;
}

@media only screen and (max-width: 899px) {
    .nav-mobile {
        display: block;
    }
    .brand {
        padding-left: 40px;
    }
    nav {
        width: 100%;
        padding: 100px 0 15px;
    }
    nav ul {
        display: none;
    }
    nav ul li {
        float: none;
    }
    nav ul li a {
        padding: 15px;
        line-height: 20px;
        margin: 0px;
        border: 0px;
        text-align: center;
        top: 0px;
    }
    nav ul li ul li a {
        padding-left: 30px;
    }
    .nav-dropdown {
        position: static;
    }
}

@media screen and (min-width: 900px) {
    .nav-list {
        display: block !important;
    }
}

#nav-toggle {
    position: absolute;
    left: 18px;
    top: 22px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: #fff;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
}

#nav-toggle span:before {
    top: -10px;
}

#nav-toggle span:after {
    bottom: -10px;
}

#nav-toggle.active span {
    background-color: transparent;
}

#nav-toggle.active span:before,
#nav-toggle.active span:after {
    top: 0;
}

#nav-toggle.active span:before {
    transform: rotate(45deg);
}

#nav-toggle.active span:after {
    transform: rotate(-45deg);
}

article {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
}

#im01 {
    height: 75px;
    width: 75px;
}

#top-heading {
    width: 100%;
    text-align: center;
}

#text1 {
    position: absolute;
    width: 100%;
    top: 286px;
    font-family: Lora;
    font-style: normal;
    font-weight: bold;
    font-size: 9vw;
    display: inline;
    transform: translate(-50%, -50%);
    color: rgba(0, 0, 0, 0.22);
}

#text2 {
    position: absolute;
    left: 50%;
    top: 295px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 54px;
    transform: translate(-50%, -50%);
    color: rgba(255, 255, 255, 1);
    background: transparent;
    white-space: nowrap;
}

@media only screen and (max-width: 899px) {
    #text2 {
        font-size: 30px;
    }
}


/* .page_header{
    position: relative;
  } */


/* .page_heading {
    position: absolute;
    top: 50%;
    left: 45%;
    font-size: 40px;
    color: blue;
  } */

@media (max-width: 899px) {
    .page_heading {
        left: 25%;
    }
}

.page_logo {
    width: 100%;
    height: 350px;
    opacity: 0.7;
}

.nav_icon {
    width: 25px;
    height: 22px;
}

.nav_right {
    float: right;
    right: 5%;
    position: relative;
}

@media screen and (min-width:900px) {
    .nav_contact {
        border: 5px solid white;
        margin: 20px 0px;
    }
    .nav_right li:hover .small {
        opacity: 1;
        transition: 1s ease;
    }
    .big {
        display: block;
    }
    .small {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    .nav_right li a {
        margin: 15px 0px;
    }
}

@media only screen and (max-width: 899px) {
    .nav_right li a {
        margin: 0px;
    }
    .nav_contact {
        border: 0px;
    }
    .big {
        display: none;
    }
    .small {
        display: block;
    }
    .nav_right {
        float: none;
        right: 0%;
    }
    #text1 {
        display: none;
    }
    .nav-container {
        /* max-width: 1000px; */
        margin: 0;
    }
    #about {
        width: 100%;
        /* display: flex;
        flex-wrap: nowrap;
        text-align: center;
        justify-content: center; */
    }
    /* #testing {
        padding-top: 5px;
    } */
}


/* Testing new dropdown */

.dropbtn,
.dropbtn-2 {
    border: none;
    cursor: pointer;
    display: block;
    line-height: 0px;
    background: #262626;
    color: #fff;
    text-decoration: none;
    top: 15px;
    position: relative;
    font-size: 17px;
    z-index: 10;
    width: 100%;
}

.dropbtn {
    padding: 15px 20px;
    margin: 20px 0;
}

.dropbtn-2 {
    padding: 10px 20px 25px 20px;
    margin: 10px 0;
}

.dropdown {
    position: relative;
    display: inline-block;
    background: #262626;
}

.dropdown-menu-1 li,
.dropdown-menu-2 li {
    background: #262626;
    text-align: center;
}

.dropdown-menu-1,
.dropdown-menu-2 {
    display: none;
    position: absolute;
    background-color: #262626;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 20;
    padding: 0;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu-2 {
    top: 0;
    left: 100%;
    margin-top: -1px;
    background: #262626;
}

.dropdown-menu-1 a,
.dropdown-menu-2 a {
    color: #FFFFFF;
    padding: 12px 16px;
    margin: 0;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-menu-1,
.dropdown-submenu:hover .dropdown-menu-2 {
    display: block;
    z-index: 20;
}

.dropbtn:not(:only-child):after,
.dropbtn:visited:not(:only-child):after {
    padding-left: 4px;
    content: ' ▾';
}

@media only screen and (max-width: 899px) {
    .dropdown {
        width: 100%;
        background: #262626;
    }
    .dropbtn {
        margin-top: 0;
        margin-bottom: 0;
        top: 0;
        background: #262626;
    }
    #nav-toggle.active .dropdown-menu,
    #nav-toggle.active .dropdown-menu-2 {
        z-index: 5;
    }
    .dropbtn-2 {
        margin: 0 auto;
    }
    .dropdown {
        margin: 0;
        padding: 0;
        background: #262626;
    }
    .dropdown-menu-1,
    .dropdown-menu-2 {
        display: none;
        position: absolute;
        background-color: #262626;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 5;
        padding: 0;
    }
    .dropdown:hover .dropdown-menu-1,
    .dropdown-submenu:hover .dropdown-menu-2 {
        display: block;
        z-index: 20;
    }
    .dropbtn-2:not(:only-child):after,
    .dropbtn-2:visited:not(:only-child):after {
        padding-left: 4px;
        content: ' ▾';
    }
}