#i1 {
    background-image: linear-gradient(113.38deg, #2A5470, #4C4177);
    margin-bottom: 0px;
    min-height: 100vh;
}

#top {
    margin-top: 350px;
    padding-bottom: 50px;
}

#i2 {
    width: 90%;
}

.card {
    /* background-color: transparent !important; */
    /* background-color: #9900ff !important; */
    border: white solid 2px !important;
    border-radius: 25px !important;
    min-height: 800px !important;
    box-shadow: 0 6px 10px rgba(224, 23, 23, 0.08), 0 0 6px rgba(214, 15, 15, 0.05);
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(8, 238, 104, 0.06);
}

.img1 {
    height: 430px;
    width: 98%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

.img2 {
    height: 430px;
    width: 98%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

.card-title {
    text-align: center;
    margin-top: 20px;
    color: white;
    font-size: 30px;
}

.card-text {
    text-align: justify;
    color: white;
    margin-top: 20px;
}

.btn2 {
    border-radius: 20px !important;
    width: 30%;
}

.btn1 {
    border-radius: 20px !important;
    text-align: bottom !important;
    width: 30%;
}

.btn1:hover {
    background-color: transparent !important;
    border-color: white !important;
}

.btn2:hover {
    background-color: transparent !important;
    border-color: white !important;
}

.btn1:focus,
.btn1:active {
    outline: none !important;
    box-shadow: none !important;
}

.btn2:focus,
.btn2:active {
    outline: none !important;
    box-shadow: none !important;
}

@media screen and (max-width: 800px) {
    .img1 {
        height: 250px !important;
    }
    .img2 {
        height: 250px !important;
    }
    #top {
        margin-top: 300px !important;
    }
    #card2 {
        margin-top: -200px;
    }
    #i2 {
        width: 100%;
    }
    .btn1 {
        width: 50%;
    }
    .btn2 {
        width: 50%;
    }
    .card {
        min-height: 700px !important;
    }
}