.whole{
    background-image: linear-gradient(#2A5470, #4C4177);
    min-height: 800px;
}

.session_buttons button{
    color: #2A5470;
    /* background-color: #4C4177; */
    border-radius: 5px;
    z-index:1;
    font-size: 17px;
}
.session_buttons{
    text-align: center;
    background-color: black;
    width: 22%;
    position: relative;
    left: 38%;
}
.session_buttons{
    padding:10px 0px;
}



.session_heading{
    color:white;
    font-size:30px;
    text-align: center;
    /* padding:1rem; */
}

.session_content{
    color:white;
    font-size:18px;
    padding: 10px 10px 10px 0px;
    /* padding-left: 50px; */
   /* position:relative; */
   top:40%;
   text-align: justify;
}

.MagicScroll a{
    display: none;
}

.MagicScroll img {
    height:400px;
   padding:0px 10px;
}

@media screen and (max-width:789px){
    .session_content{
        top:0px;
        padding: 0px 10px;
    }
    iframe{
        width: 100%;
    }
}